body {
  font-family: Roboto;
  font-size: 18px;
  color: $normalTextColor;
}

.lunch-title a {
  height: 39px;
  color: $primaryColor;
  font-family: Staatliches;
  text-transform: uppercase;
  text-decoration: none;
}

.title {
  width: 440px;
  height: 90px;
  color: $primaryColor;
  font-family: Staatliches;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.form-background {
  background-image: url('/static/images/first-page-bg.png');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.right-half {
  float: right;
  width: 50%;
}

.form-wrapper {
  margin-top: 180px;
  margin-left: 146px;
}

.form-login {
  width: 398px;
}

.form__input-group {
  margin-top: 56px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.form__icon-wrapper {
  width: 36px;
  height: 36px;
  border: 6px solid $primaryColor;
  border-bottom-right: 0px solid $primaryColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__input-wrapper {
  display: inline-block;
  position: relative;
  width: 296px;
  height: 42px;
  border-bottom: 6px solid $primaryColor;
  transform: translateX(-24px);
}

.form__input {
  position: absolute;
  top: 11px;
  left: 40px;
  height: 21px;
  color: $normalTextColor;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 400;
}

.form__label-txt {
  position: absolute;
  top: 13px;
  left: 40px;
  height: 21px;
  color: $formInputColor;
  font-size: 18px;
  text-transform: uppercase;
}

.form__label-txt--hidden {
  display: none;
}

.form__forget-pwd {
  margin-left: 64px;
  margin-top: 8px;
  text-decoration: none;
  width: 182px;
  height: 21px;
  color: $normalTextColor;
  cursor: pointer;
}

.btn {
  border: none;
}

.btn__form-login {
  margin-top: 88px;
  width: 398px;
  height: 56px;
  background-color: $primaryColor;
  color: $whiteTextColor;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.create-account {
  margin-left: 210px;
  margin-top: 24px;
}

.create-account__link {
  height: 21px;
  text-decoration: none;
  margin-left: 4px;
  color: $normalTextColor;
  font-size: 18px;
  font-weight: 700;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $navColor;
  z-index: 1;
}

.top-nav-wrapper {
  height: 100%;
  max-width: 1244px;
  margin: auto;
  display: flex;
  align-items: center;
}

.top-nav__logo {
  flex: 1 1 0;
  font-family: Staatliches;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.top-nav__logo a {
  color: $primaryColor;
  text-decoration: none;
}

.top-nav__current-user a {
  display: flex;
  align-items: center;
}

.top-nav__name {
  height: 16px;
  color: $whiteTextColor;
  font-size: 14px;
  font-weight: 400;
  margin-right: 16px;
}

.lunch {
  margin: auto;
  margin-top: 110px;
  max-width: 1244px;
  display: grid;
  grid-template-columns: repeat(12, 78px);
  grid-column-gap: 28px;
  grid-row-gap: 56px;
}

.search {
  grid-column: 1/10;
  height: 156px;
}

.search-wrapper {
  margin-top: 58px;
  width: 608px;
  height: 66px;
  border-radius: 80px;
  background-color: $primaryColor;
  position: relative;
}

.search__label {
  position: absolute;
  top: 23px;
  left: 24px;
  height: 21px;
  color: $blurColorFormInput;
  font-weight: 700;
}

.search__input {
  height: 100%;
  width: 480px;
  margin-left: 24px;
  background-color: transparent;
  border: none;
  outline: none;
  color: $whiteTextColor;
  font-weight: 700;
}

.search__icon {
  position: absolute;
  top: 21px;
  right: 24px;
}

.meal {
  grid-column: span 3;
  height: 209px;
}

.meal_image-wrapper {
  width: 100%;
  height: 180px;
  background-color: $primaryColor;
  background-color: #e4e4e4;
}

.meal__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.meal__name {
  margin-top: 8px;
  display: inline-block;
}

.picked {
  grid-column: span 3/-1;
  grid-row: 1/-1;
  margin-left: 26px;
  padding-left: 16px;
  border-left: 4px solid $primaryColor;
}

.picked__title {
  height: 21px;
  color: #959595;
  margin-bottom: 12px;
}

.today-pick {
  height: 212px;
}

.today-pick__image-wrapper {
  width: 242px;
  height: 109px;
  position: relative;
  background-color: #e4e4e4;
}

.today-pick__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.today-pick__remove {
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-color: $whiteTextColor;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.today-pick__name {
  margin-top: 8px;
}

.previous-picks__image {
  width: 244px;
  height: 154px;
  border: 1px solid #e1e1e1;
  margin-bottom: 26px;
  object-fit: cover;
  background-color: #e4e4e4;
}