body {
  font-family: Roboto;
  font-size: 18px;
  color: $normalTextColor;
}

.lunch-title a {
  height: 39px;
  color: $primaryColor;
  font-family: Staatliches;
  text-transform: uppercase;
  text-decoration: none;
}

.title {
  width: 440px;
  height: 90px;
  color: $primaryColor;
  font-family: Staatliches;
  font-size: 72px;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.form-background {
  background-image: url('/static/images/first-page-bg.png');
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

.right-half {
  float: right;
  width: 50%;
}


.form {
  &-wrapper {
    margin-top: 180px;
    margin-left: 146px;
  }

  &-login {
    width: 398px;
  }

  &__input-group {
    margin-top: 56px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
  }

  &__icon-wrapper {
    width: 36px;
    height: 36px;
    border: 6px solid $primaryColor;
    border-bottom-right: 0px solid $primaryColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input-wrapper {
    display: inline-block;
    position: relative;
    width: 296px;
    height: 42px;
    border-bottom: 6px solid $primaryColor;
    transform: translateX(-24px);
  }

  &__input {
    position: absolute;
    top: 11px;
    left: 40px;
    height: 21px;
    color: $normalTextColor;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
  }

  &__label-txt {
    position: absolute;
    top: 13px;
    left: 40px;
    height: 21px;
    color: $formInputColor;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__label-txt--hidden {
    display: none;
  }

  &__forget-pwd {
    margin-left: 64px;
    margin-top: 8px;
    text-decoration: none;
    width: 182px;
    height: 21px;
    color: $normalTextColor;
    cursor: pointer;
  }
}

.btn {
  border: none;
  width: 398px;
  height: 56px;
  background-color: $primaryColor;
  color: $whiteTextColor;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  &__form-login {
    margin-top: 88px;
  }

  &__pick-meal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    width: 148px;
  }

  &__confirm-meal {
    width: 160px;
    height: 48px;
    border-radius: 80px;
    background-color: $primaryColor;
  }
}

.create-account {
  margin-left: 210px;
  margin-top: 24px;
}

.create-account__link {
  height: 21px;
  text-decoration: none;
  margin-left: 4px;
  color: $normalTextColor;
  font-size: 18px;
  font-weight: 700;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $navColor;
  z-index: 1;

  &-wrapper {
    height: 100%;
    max-width: 1244px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: 1 1 0;
    font-family: Staatliches;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__logo a {
    color: $primaryColor;
    text-decoration: none;
  }

  &__current-user a {
    display: flex;
    align-items: center;
  }

  &__name {
    height: 16px;
    color: $whiteTextColor;
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
  }
}


.lunch {
  margin: auto;
  margin-top: 110px;
  max-width: 1244px;
  display: grid;
  grid-template-columns: repeat(12, 78px);
  grid-column-gap: 28px;
  grid-row-gap: 56px;
}

.locked {
  font-size: 48px;
  font-weight: 700;
}

.confirm {
  grid-column: 1/10;

  &__message {
    margin: 30px 0 143px 0;
    height: 42px;
    font-size: 36px;
    font-weight: 400;
  }

  &__meal {
    display: flex;
  }

  &__meal-image {
    width: 292px;
    height: 182px;
    border: 1px solid #e1e1e1;
    background-color: $loadingColor;
    background-size: cover;
    color: transparent;
  }

  &__meal-answer-tab {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__question {
    margin-bottom: 24px;
  }

  &__meal-name {
    color: $primaryColor;
  }

  &__confirmed {
    font-size: 24px;
    color: $primaryColor;
    font-family: Staatliches;
  }
}

.search {
  grid-column: 1/10;
  height: 156px;

  &-wrapper {
    margin-top: 58px;
    width: 608px;
    height: 66px;
    border-radius: 80px;
    background-color: $primaryColor;
    position: relative;
  }

  &__label {
    position: absolute;
    top: 23px;
    left: 24px;
    height: 21px;
    color: $blurColorFormInput;
    font-weight: 700;
  }

  &__input {
    height: 100%;
    width: 480px;
    margin-left: 24px;
    background-color: transparent;
    border: none;
    outline: none;
    color: $whiteTextColor;
    font-weight: 700;
  }

  &__icon {
    position: absolute;
    top: 21px;
    right: 24px;
  }
}

.system-locked {
  margin-top: 52px;
}

.meal {
  grid-column: span 3;
  height: 209px;

  &:hover {
    .btn__pick-meal {
      display: block;
    }

    .meal__image {
      opacity: .4;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 180px;
    background-color: $loadingColor;
    color: transparent;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    margin-top: 8px;
    display: inline-block;
  }
}

.picked {
  grid-column: span 3/-1;
  grid-row: 1/-1;
  margin-left: 26px;
  padding-left: 16px;
  border-left: 4px solid $primaryColor;
}

.picked__title {
  height: 21px;
  color: #959595;
  margin-bottom: 12px;
}

.today-pick {
  height: 212px;

  &__image-wrapper {
    width: 242px;
    height: 109px;
    position: relative;
    background-color: $primaryColor;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: transparent;
  }

  &__remove {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: $whiteTextColor;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__name {
    margin-top: 8px;
  }
}

.previous-picks__image {
  color: transparent;
  width: 244px;
  height: 154px;
  border: 1px solid #e1e1e1;
  margin-bottom: 26px;
  object-fit: cover;
  background-color: $loadingColor;
}

.dashboard-nav {
  width: 64px;
  height: 100vh;
  background-color: $navColor;
  position: fixed;
  top: 0;
  left: 0;

  .d-logo {
    margin-top: 24px;
    margin-left: 16px;
    width: 31px;
    height: 123px;
    border-radius: 95px;
    border: 1px solid $primaryColor;
  }

  .d-logo__chars {
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $primaryColor;
    font-weight: 500;
    text-transform: uppercase;
  }

  .control {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 304px;

    &__tab {
      width: 64px;
      height: 64px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #333;
        transform: translateX(8px);
      }
    }

    &__tab svg {
      transform-origin: 0 0;
      fill: $whiteTextColor;
    }

    &__tab--current {
      background-color: #ffffff;

      &:hover {
        background-color: #ffffff;
      }
    }
  }
}

.d-layout {
  margin: 80px 0 0 144px;
}

.dashboard-index {
  display: flex;
  flex-wrap: wrap;
}

.board {
  width: 388px;
  height: 248px;
  margin-right: 80px;
  margin-bottom: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #eef;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08),
      0 4px 26px rgba(0, 0, 0, 0.04);
  }

  &__name {
    height: 42px;
    font-size: 36px;
    font-weight: 500;
    color: #4e4e4e;
    margin-top: 16px;
    outline: none;
  }

  &__icon-wrapper {
    width: 128px;
    height: 128px;
  }

  svg {
    transform: scale($scaleIcon);
    transform-origin: 0 0;
  }
}